@font-face {
	font-family: "OpenSansBold", sans-serif;
	src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "OpenSansRegular", sans-serif;
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "OpenSansSemiBold", sans-serif;
	src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
	font-family: slick.ttf
	src: url("../fonts/slick.ttf") format("truetype");
}
@font-face {
	font-family: slick.woff
	src: url("../fonts/slick.woff") format("woff");
}